html,body{
  height:100%;
}
body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;*/
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 1rem 3rem 4rem 3rem;
}
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 1.5vw;
}
h3 {
  font-size: 1vw;
  font-weight: bold;
  line-height: 1.5em;
}
p {
  font-size: 1vw;
  line-height: 1em;
}
ul {
  list-style-type:none;
  padding: 0;
}
li{
  border: 1px solid #e0e0e0;
  background-color: #f6f6f6;
  border-radius: 5px;
  margin: 5px 0 0 0;
  padding: 5px 0 0 5px;
}
.clock-body{
  align-items: center;
  text-align: center;
  font-weight: bolder;
}
.clock-time-big{
  font-size: 10vw;
  flex-wrap: nowrap;
}
.clock-time-small{
  font-size: 5vw;
  flex-wrap: nowrap;
}
.clock-date-big{
  font-size: 3vw;
  flex-wrap: nowrap;
}
.clock-date-small{
  font-size: 3vw;
  flex-wrap: nowrap;
}
.clock-card-in-event{
  margin-top: 2vw;
}
.card{
  border-radius: 15px;
  box-shadow:  5px 5px #f0f0f0;
}
.card-body{
  background-color: #fff;
}
.events-list-body{
  overflow-y: hidden;
}
.in-event h2{
  font-size: 5vw;
}
.in-event p{
  font-size: 3vw;
  flex-wrap: nowrap;
}